@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://us.123rf.com/450wm/tchastudio/tchastudio2310/tchastudio231006595/214458244-abstract-light-background-wallpaper-colorful-gradient-blurry-soft-smooth-pastel-colors-motion-design.jpg?ver=6');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Đặt chiều cao của body là 100% chiều cao của viewport */
  margin: 0;

}

.App {
  text-align: center;
  min-width: 300px;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.9rem;
  font-weight: 900;
  text-align: left;
}

.TodoWrapper {
  background: #ffffff;
  margin-top: 8rem;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  min-width: 300px;
  min-width: 300px; /* Đặt chiều rộng tối thiểu của TodoWrapper */
  max-height: 400px; /* Đặt độ dài tối đa của TodoWrapper trước khi xuất hiện thanh cuộn */
  overflow-y: auto;
  overflow: hidden; /* Ẩn thanh cuộn mặc định */
  transition: overflow 0.3s ease-in-out;
}
.TodoWrapper:hover {
  overflow: auto; /* Hiển thị thanh cuộn khi hover */
}

.TodoForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  flex-grow: 1;
  outline: none;
  background: none;
  border: 1px solid #e6e6e6;
  padding: 1.15rem 1rem;
  width: 300px;
  height: 2rem;
  color: #000000;
}

.todo-input::placeholder {
  color: #b0b0b0;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 0.5rem;
  width: 2.3rem;
  height: 2.3rem;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  margin-bottom: 0.4rem;
}
.fa-trash {
  margin-left: 0.75rem;
  margin: 0;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #000000;
  text-decoration: line-through;
  cursor: pointer;
}


.delete-icon {
  cursor: pointer;
}

.Todo {
  position: relative; 
}

.deleteIconContainer {
  position: absolute;
  right: 0px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  .Todo:hover & {
    opacity: 1;
    background-color: red; 
    color: white; 
  }
}

.pendingTasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.deleteAllButton {
  background-color: #8758ff;
  color: #fff;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 2px;
  width: 70px;
}
/*tùy chỉnh thanh scroll/
/* Thay đổi màu sắc và kiểu của thanh cuộn */
.TodoWrapper::-webkit-scrollbar {
  width: 5px;
}

.TodoWrapper::-webkit-scrollbar-thumb {
  background-color: #8758ff; /* Màu của thanh cuộn */
  border-radius: 6px; /* Bo tròn cạnh của thanh cuộn */
}

.TodoWrapper::-webkit-scrollbar-track {
  background-color: #f3f3f3; /* Màu của phần track (phần nền của thanh cuộn) */
}

/* Ẩn thanh cuộn khi không sử dụng */
.TodoWrapper {
  scrollbar-width: thin;
  scrollbar-color: #8758ff #f3f3f3;
}

/* Cho Firefox */
.TodoWrapper {
  scrollbar-width: thin;
}

.TodoWrapper:hover {
  scrollbar-width: auto;
}
